.row{
    display: flex;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

summary{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(190, 21, 21, 0.404);
    border: rgba(17, 235, 243, 0.308) 3px solid;
    border-radius: 10px;
}

p{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}