<div>
    <h1>Harrinson Toledo Gonzalez</h1>
</div>

<div ng-hide="true">
    <img class="foto" src="https://scontent.fbog2-2.fna.fbcdn.net/v/t1.0-9/134401956_2375558192589444_609189533266997742_o.jpg?_nc_cat=105&ccb=3&_nc_sid=09cbfe&_nc_ohc=-igMR9ucBLkAX9ZJhMj&_nc_ht=scontent.fbog2-2.fna&oh=cd605fe47947b98a07cb148484b2e016&oe=605AE86F" width="300" height="320">
</div>

<!-- Redes Sociales -->


<!-- Componente -->
<div>
    <app-item *ngFor="let item of items" [item]="item"></app-item>
</div>

<!-- Targetas -->
<div class="row">
    <div class="card" class="target" style="width: 18rem;">
    <img src="https://www.tonica.la/__export/1591730262721/sites/debate/img/2020/06/09/call-of-duty-black-ops-2-portada.jpg_423682103.jpg" class="card-img-top" alt="Call of Duty">
        <div class="card-body">
            <h5 class="card-title">Call of Duty</h5>
            <p class="card-text">Este es una de las sagas de video-juegos favorita del genero fps</p>
            <a href="https://store.steampowered.com/app/202970/Call_of_Duty_Black_Ops_II/" class="btn btn-primary">Plataforma del Juego</a>
    </div>
    </div>
    <div class="card" class="target" style="width: 18rem;">
        <img src="https://ar.toneden.io/15721203/tracks/0.004243822872312064?cache=1533694481153" class="card-img-top" alt="Warsongs: Piercing Light (Mako Remix) | Music - League of Legends">
        <div class="card-body">
          <h5 class="card-title">Warsongs: Piercing Light (Mako Remix) | Music - League of Legends</h5>
          <p class="card-text">Una de mis canciones de video-juegos favorita (LOL)</p>
          <a href="https://www.youtube.com/watch?v=Nqqc2FHf9Ug&list=WL&index=6" class="btn btn-primary">Ir a la cancion</a>
        </div>
    </div>
    <div class="card" class="target" style="width: 18rem;">
        <img src="https://files.lafm.com.co/assets/public/2018-09/universidad_distrital_4_0.jpg" class="card-img-top" alt="Universidad Distrital Francisco Jose de Caldas">
        <div class="card-body">
            <h5 class="card-title">Universidad Distrital Francisco Jose de Caldas</h5>
            <p class="card-text">Ubicada en Bogota.D.C con amplio manejo de carreras y doctorados ademas de ser una Universidad publica</p>
            <a href="https://www.udistrital.edu.co/inicio" class="btn btn-primary">Pagina UDistrital</a>
        </div>
    </div>
</div>

